.login-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-login {
  display: flex;
  flex-direction: column;
  height: 22rem;
  width: 29rem;
  padding: 2rem;
  justify-content: space-between;
  border: 2px solid #ccc6c6;
  border-radius: 0.5rem;
}

input {
  border: 1px solid #535151;
  border-radius: 0.5rem;
  padding: 0.5rem;
}