.navBar {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  background-color: #007BFF;
  color: white;
  align-items: center;

  a {
    color: white;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .navBarForms {
    display: flex;
    align-items: center;
    justify-content: end;
    min-width: 20%;
    gap: 16px;
  }

  
}

